<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.emerson.myapplication">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="landscape"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" />
        <activity
            android:name=".home_screen"
            android:label="@string/app_name"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FreeStyleActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".SongsActivity"
            android:screenOrientation="userLandscape" />
        <activity
            android:name=".LessonSelectorActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Lesson_1Activity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Lesson_2Activity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Lesson_4Activity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Lesson_3Activity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Lesson_5Activity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".GamesActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".NameThatNoteActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".WordMatchActivity" />
        <activity android:name=".NoteMathsActivity" />
        <activity android:name=".IdentifyNoteActivity" />
        <activity android:name=".ScoresActivity" />
        <activity android:name=".Lesson2Game"></activity>
    </application>

</manifest>